@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-inter:"Inter", sans-serif;

}

@font-face {
   
}

.hero-bg {
    background-image: url("https://res.cloudinary.com/dbhhps3yb/image/upload/v1763968024/img01_k0iqbm.jpg");
    background-size: cover;
    background-position: center;
}